.card {
    width: 100%;
    height: auto;
    background-color: #F0FAFB;
    margin: 1rem auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 1rem;
    margin: 1rem auto;
}

.flex img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin: 0 1rem;
}

.info {
    font-size: 1rem;
    font-weight: var(--light--font-weight);
    color: var(--dark-grayish-cyan);
    flex: 1;
}

.isFeatured {
    border-left: 4px solid var(--desaturated-dark-cyan);
}

.new {
    color: white;
    padding: 5px 8px;
    margin: 0 0.5rem;
    background-color: var(--desaturated-dark-cyan);
    border-radius: 20px;
    font-weight: var(--bold--font-weight);
    text-transform: uppercase;
    font-size: 1.1rem;

}

.featured {
    color: white;
    margin: 0 0.5rem;
    background-color: var(--very-dark-grayish-cyan);
    font-size: 1.1rem;
    border-radius: 20px;
    font-weight: var(--bold--font-weight);
    text-transform: uppercase;
    padding: 5px 8px;

}

.dot {
    color: var(--dark-grayish-cyan);
    font-size: 1rem;
    display: inline-block;
    align-items: baseline;
    font-family: "Spartan", sans-serif;
}

.company {
    color: #6AA8A5;
    font-size: 1.2rem;
    font-family: "Spartan", sans-serif;
    font-weight: var(--bold--font-weight);
    display: inline-block;
    margin: 0;
}

.position {
    color: var(--very-dark-grayish-cyan);
    font-size: 1.5rem;
    font-family: "Spartan", sans-serif;
    font-weight: 900;
    display: inline-block;
    margin: 0.5rem 0;
}

/*every child of .languages*/
.languages > * {
    margin: 0 0.5rem;
    color: var(--desaturated-dark-cyan);
    font-size: 1rem;
    font-family: "Spartan", sans-serif;
    font-weight: var(--bold--font-weight);
    padding: 5px 8px;
    border-radius: 7px;
    background-color: var(--light-grayish-cyan-filter-tablets);

}

/*on hovering over every child of .languages color white background var(--desaturated-dark-cyan)*/
.languages > *:hover {
    background-color: var(--desaturated-dark-cyan);
    color: white;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
}